{% extends 'base.html' %}

{% block content %}
    <main>
        <h1>Uber Driver Login</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
        {% load messages %}
        {% if messages %}
            <ul class="error_messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </main>

{% endblock content %}